In [25]:
import pandas as pd
import mysql.connector as conn
import pymongo

### SQL Connection

In [40]:
mydb = conn.connect(host = "localhost", user = "root", passwd = "Hare@Krishna")
cursor = mydb.cursor()

In [41]:
cursor.execute("create database if not exists fitbit")
cursor.execute("show databases")
print(cursor.fetchall())

[('fitbit',), ('ineuron',), ('information_schema',), ('my_database',), ('mysql',), ('newdb',), ('pandashw',), ('performance_schema',), ('sys',)]

In [42]:
cursor.execute("use fitbit")
cursor.execute("select * from fitbit")

### MongoDB Connection

In [28]:
client = pymongo.MongoClient("mongodb+srv://shrchrds:HareKrishna@cluster0.axxsw.mongodb.net/?retryWrites=true&w=majority")
db = client.test

print(db)

Database(MongoClient(host=['cluster0-shard-00-02.axxsw.mongodb.net:27017', 'cluster0-shard-00-00.axxsw.mongodb.net:27017', 'cluster0-shard-00-01.axxsw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-g28yba-shard-0', tls=True), 'test')

In [45]:
database = client["fitbit_data"]
collection = database["fitbit"]

### 1. read dataset in pandas, mysql and mongoDB

In [2]:
df = pd.read_csv(r"C:\Users\pc\Downloads\Python Course\Ineuron\Pandas\Task\FitBit data.csv")

In [3]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

### 3. convert all dates in dataset to timestamp format in pandas and in sql you have to convert it in date format

In [4]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [5]:
df['ActivityDateTime'] = pd.to_datetime(df['ActivityDate'])

In [6]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,ActivityDateTime
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2016-03-26
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,2016-03-27
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,2016-03-28
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,2016-03-29

In [7]:
df.dtypes

Id                                   int64
ActivityDate                        object
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
ActivityDateTime            datetime64[ns]
dtype: object

### 4. find out data that how many unique ids we have

In [8]:
df['Id'].unique

<bound method Series.unique of 0      1503960366
1      1503960366
2      1503960366
3      1503960366
4      1503960366
          ...
452    8877689391
453    8877689391
454    8877689391
455    8877689391
456    8877689391
Name: Id, Length: 457, dtype: int64>

In [9]:
len(df['Id'].value_counts())

35

In [10]:
len(set(df['Id']))

35

In [11]:
# 35 IDs are unique

### 5. which id is one of the active id that you have in whole dataset

In [12]:
df.groupby(['Id'])['Calories'].sum().sort_values(ascending=False)[:1]

Id
4020332650    98412
Name: Calories, dtype: int64

In [13]:
# maximum calories burnt indicates highly active id

### 6. how many of them have not logged there activity find out in terms of number of ids

In [14]:
df.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories',
       'ActivityDateTime'],
      dtype='object')

In [15]:
len(df[df['LoggedActivitiesDistance'] == 0.0]['Id'])

433

In [16]:
df['LoggedActivitiesDistance'].value_counts()[0]

433

In [17]:
# 433 of them have not logged there activity

SyntaxError: invalid syntax (Temp/ipykernel_11304/3220018992.py, line 1)

### 7. find out who is the laziest person id in our dataset

In [18]:
df.groupby(['Id'])['Calories'].count().sort_values()[:1]

Id
8583815059    8
Name: Calories, dtype: int64

In [19]:
# This is laziest person id in our dataset as he is not regular only 8 records found

SyntaxError: invalid syntax (Temp/ipykernel_11304/3493976880.py, line 1)

### 8. explore over internet that how much calories burn required for healthy persona and find out how many healthy persons we have in our dataset

#### Most female adults need 1,600–2,200 calories per day, while adult males need 2,200–3,000 calories per day. As male female is not distinguished in dataset. considering average of 1600 and 3000 = 2300 calories required to burn for healty person.

In [20]:
len(df['Id'][df['Calories'] > 2300].value_counts())

23

In [21]:
# 23 healthy persons we have in our dataset

SyntaxError: invalid syntax (Temp/ipykernel_11304/110530110.py, line 1)

### 9. how many persons are not a regular person with respect to activity try to find out those

In [22]:
df['Id'].value_counts()

4057192912    32
4020332650    32
1503960366    19
1624580081    19
2347167796    15
4702921684    15
4445114986    15
6962181067    14
2320127002    12
4558609924    12
8792009665    12
8378563200    12
8253242879    12
7086361926    12
7007744171    12
2026352035    12
5553957443    12
8877689391    12
1844505072    12
2022484408    12
2873212765    12
3977333714    12
1927972279    12
4319703577    12
8053475328    11
5577150313    11
6290855005    10
1644430081    10
6117666160    10
3372868164    10
6391747486     9
6775888955     9
2891001357     8
8583815059     8
4388161847     8
Name: Id, dtype: int64

#### considering Ids having count <= 10 as irregular

In [23]:
(df['Id'].value_counts() <=10).sum()

9

In [ ]:
# 9 persons are not a regular person with respect to activity

### 10. who is the 3rd most active person in this dataset find out those in pandas and sql both.

In [ ]:
df.groupby(['Id'])['Calories'].sum().sort_values(ascending=False)[2:3]

### considering most calories burnt person as a most active.

### 11. who is the 5th most laziest person available in dataset?

In [ ]:
df.groupby(['Id'])['Calories'].sum().sort_values()[4:5]

In [ ]:
considering least calories burnt person as a laziest

### 12. what is a total accumulative calories burn for a person ?

In [ ]:
following are accumulative calories burn for a person

In [ ]:
df.groupby(['Id'])['Calories'].sum().sort_values()